.header-section {
   background-color: blueviolet;
    border:dashed black;
    display:flex;
    width:auto;
    height:100px;
    justify-content: flex-end;
    gap:50px;
}

.banner-section{
    background-color: rgb(52, 45, 58);
    border:dashed rgb(223, 14, 14);
    display:flex;
    width:auto;
    height:400px;
    gap:150px;
}


.header-item{
    border:dotted yellow;
    width:75px;
}


*{


    margin-left:25px;
    margin-right:25px;
}
